<ion-navbar *navbar>
  <ion-title>
    Hue
  </ion-title>
</ion-navbar>

<ion-content class="home">

  <section>
    <h2>Bridge</h2>
    <!-- Eventually display a select with the bridges found here -->
    <button *ngIf="!connected" (click)="createUser()">Connect to bridge {{bridgeIp}}</button>
    <p *ngIf="connected">Connected to {{bridgeIp}}</p>
  </section>

  <section *ngIf="!connected">

    <section>
      <h2>Lights</h2>
      <!-- Should be selectable? -->
      <ion-list inset *ngIf="lights.length > 0">
        <ion-item *ngFor="#light of lights">
          {{light.name}}
          <span *ngIf="light.state.reachable === true">- reachable</span>
        </ion-item>
      </ion-list>
    </section>

    <section>
      <h2>Controls</h2>
      <button (click)="turnOn()">Turn on all the lights</button>
      <button (click)="turnOff()">Turn off all the lights</button>
      <br />
      <button (click)="changeColor(46920)">BLUE</button>
      <button (click)="changeColor(0)">RED</button>
  </section>

  <section>
    <h2>Weather</h2>
    Zip Code:<input type="text" id="zipcode" name="zipcode"/>
    <br/>
    <button (click)="getWeather()">Get Weather</button>
    <button (click)="turnOffWeather()">Turn off Weather Sync</button>
    <br/>
    <button (click)="changeColor(12500)">Clear</button> <!-- I hope this is yellow -->
    <button (click)="changeColor(36920)">Rain</button> <!-- Blue/Green?? -->
    <button (click)="changeColor(46920)">Snow</button> <!-- Blue -->
  </section>

  </section>
</ion-content>
